*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e0e3e4;
    color: #1A4269;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #212121;
    font-size: 20px;
}

header li {
    list-style: none;
}
header a{
    text-decoration: none;
    color: #cdd5d6;
}

.logoSection {
    display: flex;
    align-items: center;
} 

.logoSection a {
    margin: 5px;
}

.logoSection a{
    font-weight: 500;
}

.logo .navLogo {
    border-radius: 50%;
    max-width: 100px;
    max-height: 50px;
}

.navLinks {
    display: flex;
}

.navLinks li {
    margin: 0px 50px;
}
.navItems::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    transition: width .3s;
}

.navItems:hover::after {
    width: 100%;
    transition: width .5s;
}

.cta {
    padding: 12px 30px;
    background-image: linear-gradient(to right, darkblue, darkorchid) 1;
    color: #fcfcfc;
    border-radius: 50px;
}

.navCta {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    font-size: 15px;
}

.navCta:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

