*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e0e3e4;
    color: #1A4269;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #212121;
    font-size: 20px;
}

header li {
    list-style: none;
}
header a{
    text-decoration: none;
    color: #cdd5d6;
}

.logoSection {
    display: flex;
    align-items: center;
} 

.logoSection a {
    margin: 5px;
}

.logoSection a{
    font-weight: 500;
}

.logo .navLogo {
    border-radius: 50%;
    max-width: 100px;
    max-height: 50px;
}

.navLinks {
    display: flex;
}

.navLinks li {
    margin: 0px 30px 0px 0px;
}
.navItems::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    transition: width .3s;
}

.navItems:hover::after {
    width: 100%;
    transition: width .5s;
}

.cta {
    padding: 10px 30px;
    background-image: linear-gradient(to right, darkblue, darkorchid) 1;
    color: #fcfcfc;
    border-radius: 50px;
}

.navCta {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 9px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    font-size: 15px;
}

.navCta:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.menuBtn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}
.menuBtnLines,
.menuBtnLines::before,
.menuBtnLines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #62747a;
    transition: all 0.5s ease-in-out;
}
.menuBtnLines::before,
.menuBtnLines::after {
    content: "";
    position: absolute;
}
.menuBtnLines::before {
    transform: translateY(-0.5rem);
}
.menuBtnLines::after {
    transform: translateY(0.5rem);
}
  /* animation */
.menuBtn.open .menuBtnLines {
    transform: translateX(2rem);
    background-color: transparent;
}
.menuBtn.open .menuBtnLines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #ffffff;
}
.menuBtn.open .menuBtnLines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #ffffff;
}

@media (max-width: 880px) {
    .menuBtn {
        display: flex;
    }
    .navLinks {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 500px;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #8e9eab;
        transition: transform 0.3s ease-in-out;
    }
    .navLinks.open {
        transform: translateX(0);
    }
    .navLinks li {
        width: 45vw;
        height: 100%;
    }
    .navLinks li a {
        color: #ffffff;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
