*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e0e3e4;
    color: #1A4269;
}


nav {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #212121;
    font-size: 20px;
}

nav li {
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #cdd5d6;
}

.logoSection {
    position: inherit;
    display: flex;
    align-items: center;
} 

.logoSection a{
    font-weight: 500;
}

.logo .navLogo {
    border-radius: 50%;
    max-width: 100px;
    max-height: 50px;
}

a.logoName {
    margin: auto 30px auto 18px;
}

.navLinks {
    display: flex;
    
}

.navLinks li {
    margin: 0px 30px 0px 0px;
}
.navItems::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    transition: width .3s;
    position: inherit;
}

.navItems:hover::after {
    width: 100%;
    transition: width .5s;
}

.cta {
    padding: 10px 30px;
    background-image: linear-gradient(to right, darkblue, darkorchid) 1;
    color: #fcfcfc;
    border-radius: 50px;
}

.cta {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    
}

.cta:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cta::after{
    display: none;
}

.menuBtn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}
.menuBtnLines,
.menuBtnLines::before,
.menuBtnLines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #62747a;
    transition: all 0.5s ease-in-out;
}
.menuBtnLines::before,
.menuBtnLines::after {
    content: "";
    position: absolute;
}
.menuBtnLines::before {
    transform: translateY(-0.5rem);
}
.menuBtnLines::after {
    transform: translateY(0.5rem);
}
  /* animation */
.menuBtn.open .menuBtnLines {
    transform: translateX(2rem);
    background-color: transparent;
}
.menuBtn.open .menuBtnLines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #ffffff;
}
.menuBtn.open .menuBtnLines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #ffffff;
}


section #intro {
    max-width: 100vw;
    max-height: 100vh;
}

#intro {
    height: 100vh;
    width: 100vw;
    background-color: rgba(220, 235, 240, 0.6);
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}


@media (max-width: 860px) {
    #navbar {
        position: fixed;
    }

    .menuBtn {
        display: flex;
    }

    .navLinks li {
        margin: 0;
    }
    .navLinks {
        position: absolute;
        height: 30%;
        width: 100%;
        top: 95px;
        left: -100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #212121;
        display: grid;
        place-items: center;
        float: left;
    }

    .navLinks.show{
        left: 0;
        transition: all .5s ease-in-out; 
    }
}

@media (max-width: 330px) {
    .navLogo{
        margin: 5px;
    }
    .logoName {
        font-size: 15px;
    }
}


@media (max-width: 290px) {
    .logoName {
        display: none;
    }
}


